@function c($i) {
	$max: $i * 1.2;
	$min: $i * 0.3;
	$val: calc(($i * 100vw) / 1440px);
	@return clamp($min, $val, $max);
}

@mixin below($size) {
	@media (max-width: $size) {
		@content;
	}
}

@mixin above($size) {
	@media (min-width: $size) {
		@content;
	}
}

@mixin container {
	margin: 0 auto;
	width: calc(100% - c(48px));

	@include above(782px) {
		width: calc(100% - c(120px));
	}
}