@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@mixin heading {
	font-family: 'Inter', sans-serif;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}