$black: #000000;
$white: #FFFFFF;
$pink: #F972DB;
$green: #72F97F;
$lightblue: #72C8F9;
$red: #F98A72;
$blue: #72A0F9;
$yellow: #F6F972;
$turquoise: #72F9C8;

$colors: $pink, $green, $lightblue, $red, $blue, $yellow, $turquoise, $red, $blue;